# Victoria Porter
# 908517
# Dec. 16, 2022
# CPRG216-ITB
# Project: Classess, Individual
# Class #4: Patient

### function only works with all classes

def DisplayMenu():
    print("Welcome to Alberta Hospital (AH) Managment system")
    print("Select from the following options, or select 0 to stop: ")
    print("1 - Doctors")
    print("2 - Facilities")
    print("3 - Laboratories")
    print("4 - Patients")

    category = int(input())

    if category == 1:
        Doctor.displayDocMenu()

    elif category == 2:
        display_f_menu()

    elif category == 3:
        display_l_menu()

    elif category == 4:
        DisplayPatientsMenu()

    elif category == 5:
        return

DisplayMenu()
